body {
  min-width: 1000px;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  background-color: #eaeaea;
  transition: all 0.2s ease-in-out;
  cursor: default;
}

ul {
  text-align: left;
  font-size: 120%;
}

h1, h2 {
  font: "Lato", sans-serif;
  text-align: center;
  color: #111;
}

.white {
  color: #aaaaaa;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.bgimg-1, .bgimg-2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../images/doge.jpg");
  min-height: 83%;
}

.bgimg-2 {
  background-image: url("../images/dogeRepeat.png");
  min-height: 40%;
  background-repeat: repeat;
}

.caption {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  color: #000;
}

div.floatingWindow {
  text-align: left;
  background-color: white;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.wideCentre {
  top: 12%;
  width: 80%;
  top: 8%;
  margin-left: 10%;
  height: 700px;
}

.accountsPage {
  position: absolute;
  margin-top: 2%
}

div.searchBox {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 25%;
}

div.loginBox {
  left: 40%;
  top: 20%;
  width: 20%;
  min-width: 300px;
  z-index: 10;
  position: fixed;
  display: inline-block;
  background-color: #fefefe;
}

div.loadingWindow {
  left: 50%;
  top: 30%;
  width: 20%;
  z-index: 10;
  position: fixed;
  display: inline-block;
}

div.confirmWindow {
  position: fixed;
  z-index: 2;
  left: 40%;
  top: 20%;
  width: 20%;
  padding: 5px;
  min-width: 400px;
  pointer-events: all;
  background-color: #fefefe;
}

div.popupWindow {
  display: none;
}

div.customersServed {
  position: absolute;
  text-align: auto;
  width: 50%;
  left: 25%;
  top: 30%
}

div.menuChoice {
  padding: 1.5%;
}

.boxShadow {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

div.searchListing {
  min-height: 200px;
  max-width: 80%;
  width: 85%;
  margin: 2%;
}

div.searchListingImage {
  float: left;
  min-width: 200px;
  min-height: 200px;
  background-color: rgb(200, 200, 200);
}

h3 {
  margin: 0px;
  position: relative;
  left: 1%;
}

div.searchListingTitle {}

.vl {
  border-left: 6px solid green;
  height: 500px;
}

div.searchListingDescription {
  padding-left: 10px;
  float: left;
  background-color: rgb(220, 220, 220);
}

div.priceBox {
  right: 10px;
  font-size: 300%;
  min-width: 100px;
  text-align: right;
  line-height: 65px;
  padding-right: 30px;
}

div.bottomRight {
  float: right;
  min-width: 20px;
  text-align: right;
  padding-right: 10px;
}

div.middleRight {
  float: right;
  right: 10px;
  bottom: 45px;
  max-width: 110px;
  text-align: right;
  padding-right: 10px;
}

div.bookButton {
  position: relative;
  left: 73%;
  top: 100px;
  width: 24%;
  text-align: right;
  color: orange;
}

hr {
  padding: 0px;
  margin: 0px;
  border-top: 1;
  background-color: rgb(0, 0, 0, 0.2);
}

.button {
  background-color: rgb(5, 190, 175);
  border: none;
  color: white;
  padding: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.1s;
  /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
}

.listingButton {
  padding: 10px;
  margin-top: 50px;
}

.verticalButton {
  background-color: orange;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  height: 440px;
  width: 40px;
  box-shadow: 0px 0px 5px 5px rgb(0, 170, 155, 0.5);
}

.button:hover {
  box-shadow: 0px 0px 5px 5px rgb(5, 170, 155, 0.5);
}

.reviewButton {
  display: block;
  width: 0px;
  height: 0px;
  font-size: 0px;
  padding-top: 0%;
  padding-bottom: 0%;
  padding: 0px;
}

.backButton {
  border-radius: 200px;
  position: fixed;
  left: 3%;
  top: 80px;
  width: 18px;
  height: 4px;
  padding: 1%;
  z-index: 100;
}

.backButton:hover {
  width: 140px;
  left: 1%;
}

.register {
  display: none;
}

.button1 {
  background-color: rgb(5, 190, 175);
  color: white;
}

.button1:hover {
  background-color: rgb(5, 170, 155);
  color: white;
}

.floatRight {
  float: left;
}

div.captionStuff {
  color: #777;
  text-align: center;
  position: relative;
  padding: 10px 10px;
}

div.captionStuff.b {
  background-color: black;
  color: white;
}

.maxImage {
  width: 210px;
  height: 200px;
  display: block;
}

div.captionStuff.w {
  background-color: white;
  color: black;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.navbar {
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: rgb(5, 190, 175);
  text-align: left;
  padding: 0px 10px;
  transition: all 0.2s linear;
}

.navbar a {
  font-size: 24px;
  color: white;
  text-align: left;
  padding: 16px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  padding-right: 20px;
}

.dropdown .dropbtn {
  font-size: 19px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(5, 170, 155);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 0px;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hidden {
  display: none;
}

/* Create three unequal columns that floats next to each other */

.column {
  position: absolute;
  float: left;
  padding-top: 2%;
  margin: 1%;
  /* Should be removed. Only for demonstration */
}

.columnNoPadding {
  padding-top: 0%;
}

.left {
  left: 0%;
  width: 28%;
}

.right {
  top: 22%;
  height: 497px;
  right: 0%;
  width: 28%;
}

.bookNow {
  position: absolute;
  bottom: 50px;
  right: 60px;
  width: 320px;
}

.middle {
  left: 29%;
  width: 40%;
}

.fixedColumn {
  padding-top: 2%;
  position: fixed;
  background-color: #fefefe;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0%;
}

.listingPicture {}

.left2 {
  width: 20%;
  height: 100%;
  margin-left: 0%;
  z-index: 7;
}

.right2 {
  width: 10%;
  position: fixed;
  right: 0%;
  height: 100%;
  writing-mode: tb-rl;
  top: 0%;
  text-align: center;
  z-index: 6;
  cursor: pointer;
}

.sideBar {
  min-height: 50%;
  min-width: 50%;
  left: 21%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 2%;
}

.boughtHotels {
  padding: 2px;
  min-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.rightButton {
  padding: 10px;
  right: 0%;
  width: 150px;
}

.cancelButton:hover {
  box-shadow: 0px 0px 5px 5px rgb(255, 0, 0, 0.5);
}

.middle2 {
  background: linear-gradient(to right, rgba(250, 250, 250, 0.9) 70%, rgba(255, 255, 255, 0));
  position: absolute;
  left: 0%;
  padding-left: 22%;
  width: 77%;
  z-index: 5;
  height: 1200px;
}

.wide {
  width: 60%;
  margin-top: 1%;
  margin-left: 18%;
  margin-bottom: 10%;
  padding: 2%;
}

.overLayBg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  width: 70%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  resize: none;
}

.reviewTextArea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
  width: 20%;
  padding: 7px;
  border-radius: 3px;
  border-bottom: 1px solid #ddd;
  background: rgb(5, 190, 175);
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 40px;
  transition: all 0.5s ease-in-out;
  resize: none;
}

.wideTextarea {
  width: 100%;
}

.close:before {
  content: '✕';
}

.close {
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}

.footer {
  position: fixed;
  text-align: center;
  left: -50%;
  width: 200%;
  bottom: -10%;
  z-index: 1;
  background-color: rgb(5, 190, 175);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 9001;
}

.suchMap {
  height: 497px;
  background: yellow;
}

.listingMap {
  height: 100%;
}

.theMap {
  position: fixed;
  height: 100%;
  width: 80%;
  right: 0%;
}

.transitionType1 {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.delayedTransition {
  transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);
}

.hidden {
  display: none;
}

/* Style the tab */

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #aaaaaa;
  width: 15%;
  height: 100%;
}

/* Style the buttons inside the tab */

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
  float: left;
  padding: 30px 30px;
  width: 75%;
  border-left: none;
  height: 300px;
}